$primary: #25243c;
$pastelPrimary: #333151;
$purple: #846cb6;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sauce One",
        "Nunito Sans",
        -apple-system,
        sans-serif;
}