$primary: var(--primary);
$pastelPrimary: var(--pastelPrimary);
$purple: var(--purple);
$white: var(--white);
$darkBg: var(--darkBg);
$gray: var(--gray);
$white2: var(--white2);
$black: #000000;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sauce One",
        "Nunito Sans",
        -apple-system,
        sans-serif;
}

:root{
    --primary: #25243c;
    --pastelPrimary: #333151;
    --purple: #846cb6;
    --white: #ffffff;
    --darkBg: #161428;
    --gray: rgb(140, 140, 140);
    --white2: #ffffff;
}